#name{
    padding-left: 880px;
    font-size: x-large;
}
#fot{
    padding-left: 780px;
}
#carde
{
    box-shadow: 5px 5px #C1BDB3;
}
#carde:hover{
    vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  margin: 10px;
  transition-duration: 0.3s;
  transition-property: box-shadow, transform;
}
body{
    background-image: linear-gradient(#A7A2A9,#575A5E);
}